<ion-view view-title="{{ordonnance.name}}">
  <ion-content class="padding">

    <p>
      <b>Prescripteur : </b><br/>
      Dc DOUBET Michel <br/>
      11 rue des Près, <br/>
      03.85.25.21.22 <br/>
      54000 NANCY <br/>
      N. CERFA : 235478<br/><br/>


      <b>Date :</b> 22/05/15 <br/><br/>
      <b>Prescription :</b> <br/>
      K+ à domicile<br/><br/>

      <b>Etat : </b>Validé<br/><br/><br/><br/><br/><br/><br/><br/><center><b>Transmettre</center>
    </p>
  </ion-content>
</ion-view>
