<ion-view view-title="Gestion Patient">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Identité</div>
      <div class="item item-body">

        <div>
        <img src="/templates/img/1.jpg" style="width: 64px; height: 64px">
          <b>Boutin Fun </b><br/>
          11/12/1970 <br/>
          19 rue des roses, 54000 NANCY <br/>
          Tel : 03 22 15 24 88   Mobile : 06 25 15 44 66 <br/>
          marc@dupond.com
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Ordonnance</div>
      <div class="item item-body">
        <div>
          <A HREF="ordo/create-ordo.html">Créer une ordonnace <br/></A>
          <A HREF="#/tab/ordonnances">Voir les ordonnaces <br/></A>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Protocole</div>
      <div class="item item-body">
        <div>
          <A HREF="ordo/create-proto.html">Créer un protocole <br/></A>
          <A HREF="ordo/create-proto.html">Voir les protocoles</A>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
