<ion-view view-title="Choix des modules">
  <ion-content>
    <ion-list>
      <ion-toggle  ng-model="settings.enableFriends">
          Consultation Générale
      </ion-toggle>
      <ion-toggle  ng-model="settings.gestionPatients">
          Gestion Patients
      </ion-toggle>
      <ion-toggle  ng-model="settings.TransmissionDurgence">
          Transmission d'urgence
      </ion-toggle>
      <ion-toggle  ng-model="settings.Formations">
          Formations
      </ion-toggle>
      <ion-toggle  ng-model="settings.Facturation">
          Facturation
      </ion-toggle>
      <ion-toggle  ng-model="settings.gestionStock">
          Gestion des stocks
      </ion-toggle>
      <ion-toggle  ng-model="settings.Preferences">
          Préférences
      </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
