<ion-view view-title="Gestion des suivis">
  <ion-content>
    <!-- <div class="col">
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Sélect date
          </div>
          <select>
            <option>Date 1</option>
            <option>Date 2</option>
            <option>Date 3</option>
            <option>Date 4</option>
            <option>Date 5</option>
            <option>Date 6</option>
            <option>Date 7</option>
            <option>Date 8</option>
          </select>
        </label>
      </div>
      <div class="item item-divider"> PSG du XX/XX/XXXX  <button class="button-positive"> Valider </button> </div>
      <div class="item item-body">
        Observation 1 <br/>
        Observation 1 <br/>
        Observation 1 <br/>
        <div class="col"> <button class="button-positive"> Sauvegarder </button> </div>
        <div class="col"> <button class="button-positive"> Copier </button> </div>
        <div class="col"> <button class="button-positive"> Imprimer </button> </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col col-15"> <b> Dates </b> </div>
      <div class="col col-20"> <b> Validé </b> </div>
      <div class="col col-50"> <b> Observations </b> </div>
      <div class="col col-15"> <b> Paraphe </b> </div>
    </div>

  <div class="row">
    <div class="col col-15"> Date 1 </div>
    <div class="col col-20"> <input type="checkbox"> </div>
    <div class="col col-50"> Observation 1 </div>
    <div class="col col-15"> S. B. </div>
  </div>

  <div class="row">
    <div class="col col-15"> Date 2 </div>
    <div class="col col-20"> <input type="checkbox"> </div>
    <div class="col col-50"> Observation 2 </div>
    <div class="col col-15"> S. B. </div>
  </div>

  <div class="row">
    <div class="col col-15"> Date 3 </div>
    <div class="col col-20"> <input type="checkbox"> </div>
    <div class="col col-50"> Observation 3 </div>
    <div class="col col-15"> S. B. </div>
  </div>

  <div class="row">
    <div class="col col-15"> Date 4 </div>
    <div class="col col-20"> <input type="checkbox"> </div>
    <div class="col col-50"> Observation 4 </div>
    <div class="col col-15"> S. B. </div>
  </div>

  <div class="row">
    <div class="col col-15"> Date 5 </div>
    <div class="col col-20"> <input type="checkbox"> </div>
    <div class="col col-50"> Observation 5 </div>
    <div class="col col-15"> S. B. </div>
  </div>

  <div class="row">
    <div class="col col-15"> Date 6 </div>
    <div class="col col-20"> <input type="checkbox"> </div>
    <div class="col col-50"> Observation 6 </div>
    <div class="col col-15"> S. B. </div>
  </div>

  <div class="row">
    <div class="col col-15"> Date 7 </div>
    <div class="col col-20"> <input type="checkbox"> </div>
    <div class="col col-50"> Observation 7 </div>
    <div class="col col-15"> S. B. </div>
  </div>

  <div class="row">
    <div class="col col-15"> Date 8 </div>
    <div class="col col-20"> <input type="checkbox"> </div>
    <div class="col col-50"> Observation 8 </div>
    <div class="col col-15"> S. B. </div>
  </div>

  <div class="row">
    <div class="col col-15"> Date 9 </div>
    <div class="col col-20"> <input type="checkbox"> </div>
    <div class="col col-50"> Observation 9 </div>
    <div class="col col-15"> S. B. </div>
  </div>

  <div class="row">
    <div class="col col-15"> Date 10 </div>
    <div class="col col-20"> <input type="checkbox"> </div>
    <div class="col col-50"> Observation 10 </div>
    <div class="col col-15"> S. B. </div>
  </div>

  <div class="row">
    <div class="col col-offset-50"> <button class="button button-small button-positive"> Sauvegarder </button> </div>
    <div class="col"> <button class="button button-small button-positive"> Copier </button> </div>
    <div class="col"> <button class="button button-small button-positive"> Imprimer </button> </div>
  </div>

  <div class="row">
    <div class="col"> <button class="button button-positive"icon-off="ion-ios-bookmarks" icon-on="ion-ios-bookmarks" > Rechercher date ancienne </button> </div>
    <div class="col col-offset-33"> <button class="button icon-right ion-chevron-right button-positive"icon-off="ion-ios-bookmarks" icon-on="ion-ios-bookmarks" > Page suivante </button> </div>
  </div>


</ion-content>
</ion-view>
