<ion-view view-title="Menu">
  <ion-content>
    <!-- <div class="row"> -->
      <a class="button button-large button-block button-positive" ng-href="/#/tab/account">
        Choix des modules
      </a>
    <!-- </div>
    <div class="row"> -->
      <a class="button button-large button-block button-positive" ng-href="#/tab/rechPatient">
        Gestion Patient
      </a>
    <!-- </div>
    <div class="row"> -->
      <a class="button button-large button-block button-positive" ng-href="/#/tab/account">
        Ordonnances
      </a>
    <!-- </div>
    <div class="row"> -->
    <!-- </div>
    <div class="row"> -->
      <a class="button button-large button-block button-positive">
        Préférences
      </a>
    <!-- </div>
    <div class="row"> -->
      <a class="button button-large button-block button-positive">
        Facturation
      </a>
    <!-- </div> -->
  </ion-content>
</ion-view>
