<ion-view view-title="Menu">
  <ion-content>

      <a class="button button-large button-block button-positive" href="/#/tab/modules">
        Choix des modules
      </a>

      <a class="button button-large button-block button-positive" >
        Consultation Générale
      </a>

      <a class="button button-large button-block button-positive" href="#/tab/rechPatient">
        Gestion Patients
      </a>

      <a class="button button-large button-block button-positive">
        Notification d'urgence
      </a>

      <a class="button button-large button-block button-positive">
        Facturation
      </a>
      <a class="button button-large button-block button-positive">
        Préférences
      </a>

  </ion-content>
</ion-view>
