<ion-view view-title="Saisir un résultats">
  <ion-content >
    <div class="item item-divider">Importer</div>
    <div class="item item-body">
      <div>
        <A HREF="aFaire.html">Importer un résultat <br/></A>
        <A <br/></A>
      </div>
    </div>
    <div class="item item-divider">Exporter</div>
    <div class="item item-body">
      <div>
        <A HREF="aFaire.html">Médecin traitant <br/></A>
        <A HREF="aFaire.html">Infirmier référent <br/></A>
      </div>
    </div>
  </ion-content>
</ion-view>
