<ion-view view-title="Menu">
  <ion-content>
    <!-- <div class="row"> -->
      <a class="button button-large button-block button-positive" ng-href="/#/tab/modules">
        Choix des modules
      </a>
    <!-- </div>
    <div class="row"> -->
      <a class="button button-large button-block button-positive" >
        Consultation Générale
      </a>
    <!-- </div>
    <div class="row"> -->
      <a class="button button-large button-block button-positive" ng-href="#/tab/rechPatient">
        Gestion Patients
      </a>
    <!-- </div>
    <div class="row"> -->
    <!-- </div>
    <div class="row"> -->
      <a class="button button-large button-block button-positive">
        Transmission d'urgence
      </a>
    <!-- </div>
    <div class="row"> -->
      <a class="button button-large button-block button-positive">
        Formations
      </a>
      <a class="button button-large button-block button-positive">
        Facturation
      </a>
      <a class="button button-large button-block button-positive">
        Préférences
      </a>
    <!-- </div> -->
  </ion-content>
</ion-view>
