<ion-view view-title="Notification d'Urgence">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Identité</div>
      <div class="item item-body">

        <div>
          <p><input class="form-control focus" placeholder="Nom" >
            <input class="form-control focus" placeholder="Prénom"></p>
          <input class="form-control focus"placeholder="Date de Naissance">
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Destinataire</div>
      <div class="item item-body">
        <div>
          <A HREF="ordo/create-ordo.html">Choisir un destinataire <br/></A>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Motifs</div>
      <div class="item item-body">
        <div>
          <A HREF="ordo/create-ordo.html">Ajouter un motif <br/></A>
        </div>
      </div>

      <div>
        <p><input class="form-control focus" placeholder="Date"></p>
        <p><input class="form-control focus" placeholder="Commentaire"></p>
      </div>

    </div>
    <center>
      <button class="btn btn-default" ng-disabled="loginForm.$invalid">Valider</button>
    </center>
  </ion-content>
</ion-view>
