<ion-view view-title="Gestion des stocks">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Identité</div>
      <div class="item item-body">

        <div>
          <p><input class="form-control focus" placeholder="Nom">
            <input class="form-control focus" placeholder="Prénom"></p>
          <input class="form-control focus"  placeholder="Date de Naissance">
        </div>
      </div>
    </div>
    <div class="list card">

    </div>
    <div class="list card">
      <div class="item item-divider">Dates</div>
      <div class="item item-body">
        <div>
          <A HREF="ordo/create-ordo.html">Ajouter une date <br/></A>
        </div>
      </div>
    </div>

    <div class="item item-divider">Commentaires</div>
    <div class="item item-body">
      <div>
        <A HREF="ordo/create-ordo.html">Ajouter un commentaire <br/></A>
      </div>
    </div>
    </div>
    <br/>
    <center>
      <button class="btn btn-default" ng-disabled="loginForm.$invalid">Valider</button>
    </center>
  </ion-content>
</ion-view>
