<ion-view view-title="Accueil">
  <ion-content>
    <div class="row">
      <div class="col col-50">
        <a class="button button-large button-block button-positive">
          Inscription
        </a>
      </div>
      <div class="col col-50">
        <a class="button button-large button-block button-positive">
          Transmission d'urgence
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <a class="button button-large button-block button-positive"  ng-href="/#/tab/accPro">
          Accès professionnel
        </a>
      </div>
      <div class="col col-50">
        <a class="button button-large button-block button-positive">
          Formations
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <a class="button button-large button-block button-positive">
          Accès patient
        </a>
      </div>
      <div class="col col-50">
        <a class="button button-large button-block button-positive">
          Nouvelles généralités
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
